<!DOCTYPE html>

<html data-ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/scripts/dependency.js"></script>
    <script src="~/scripts/app.js"></script>
    <script src="~/scripts/place/place.js"></script>
    <script src="~/scripts/place/controllers/placeController.js"></script>    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
